* {
    margin          : 0;
    padding         : 0;
    box-sizing      : border-box;
    font-family     : 'Metropolis';
    scroll-behavior : smooth;
}

p {
    font-size : 1em;
}

.z-index {
    z-index: 10;
}

.fullScreen {
    height : 100vh;
}

.bg-blueGreen {
    background-color : #007F89;
}

.bg-darkBlue {
    background-color : #161B20;
}

.blueGreen {
    color : #007F89;
}

.darkBlue {
    color : #161B20;
}

.relative {
    position : relative;
}

.absolute1 {
    position    : absolute;
    top         : 50%;
    left        : 95%;
    transform   : translate(0%,-50%);
}

.absolute2 {
    position    : absolute;
    left        : 50%;
    transform   : translate(-50%,-50%);
}

.absolute3 {
    position    : absolute;
    top         : 0.35em;
    left        : 50%;
    transform   : translate(-50%, -50%);
}


.title {
    font-weight     : bold;
    font-size       : 1.25em;
    letter-spacing  : 0.20em;
}

.important {
    font-size : 1.25em;
}





/* MINI MENU */
.mini-menu {
    position : fixed;
}

.menu-item1 {
    height          : 0.25em;
    width           : 0.25em;
    border-radius   : 100%;
    margin          : 20px 0;
    transition      : all 0.2s ease-in-out;
}

.menu-item2 {
    height          : 0.25em;
    width           : 0.25em;
    border-radius   : 100%;
    margin          : 20px 0;
    transition      : all 0.2s ease-in-out;
}

.menu-item3 {
    height          : 0.25em;
    width           : 0.25em;
    border-radius   : 100%;
    margin          : 20px 0;
    transition      : all 0.2s ease-in-out;
}

/* ITEM MENU HOVER */
.menu-item1:hover {
    transform : scale(2);
}

.menu-item2:hover {
    transform : scale(2);
}

.menu-item3:hover {
    transform : scale(2);
}

/* ITEM MENU ACTIVE */
.menu-item1.active {
    transform: scale(3);
    transition      : all 0.2s ease-in-out;
}

.menu-item2.active {
    transform: scale(3);
    transition      : all 0.2s ease-in-out;
}

.menu-item3.active {
    transform: scale(3);
    transition      : all 0.2s ease-in-out;
}





/* 1RST SLIDE */
.download-cv {
    border              : 1px solid #161B20;
    padding             : 0.75em;
    background-color    : white;
    color               : #161B20;
    transition          : all 0.2s ease-in-out;
}

.download-cv:hover {
    border              : 1px solid #007F89;
    color               : #007F89;
    transition          : all 0.2s ease-in-out;
}





/* 2NDE SLIDE */
/* ACCORDION */
h4.accordeon {
    /* DESIGN */
    color       : white;
    cursor      : pointer;
    padding     : 0.5em;
    transition  : 0.2s linear;
}

h4.accordeon::after {
    /* DESIGN */
    content : '▼';
}

h4.accordeon.is-open::after {
    /* DESIGN */
    content : '▲';
}

h4.accordeon:hover {
    /* DESIGN */
    color : #007F89;
}

.accordeon-content {
    /* DESIGN */
    
    /* HIDE AND SHOW */
    max-height      : 0;
    overflow        : hidden;
    transition      : max-height 0.2s ease-out;
}





/* PICTOS */
img.picto {
    transform   : scale(1);
    transition  : all 0.2s ease-in-out;
}

img.picto:hover {
    transform   : translate(0, -5%) scale(1.1);
    transition  : all 0.2s ease-in-out;
}





/* RESPONSIVE */
@media screen and (max-width:960px) {
    .symbole {
        transform: scale(0.75);
    }

    .img-accordeon {
        overflow-x: scroll;
    }

    img.picto:hover {
        transform   : scale(1);
        transition  : all 0.2s ease-in-out;
    }
}

@media screen and (max-width:640px) {
    .fullScreen {
        min-height: 900px;
    }
}